@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';
/* relative to the CSS file, make sure it's correct for your app */
@source '../../../node_modules/fumadocs-ui/dist/**/*.js';

@theme {
  --font-mono: 'Geist', monospace;

  --background: 221 50% 11%;
  --foreground: 240 66.67% 94.12%;

  --card: 217 33% 17%;
  --card-foreground: 240 100% 97.06%;

  --popover: 217 33% 17%;
  --popover-foreground: 240 66.67% 94.12%;

  --primary: 258 71% 61%;
  --primary-foreground: 0 0% 100%;

  --secondary: 235 31.49% 35.49%;
  --secondary-foreground: 240 34.78% 90.98%;

  --muted: 240 27.59% 22.75%;
  --muted-foreground: 215 20% 65%;

  --accent: 0 0% 80%;
  --accent-foreground: 240 42.86% 8.24%;

  --destructive: 0 73.46% 41.37%;
  --destructive-foreground: 0 0% 100%;

  --border: 215 25% 27%;
  --input: 215 25% 27%;
  --ring: 291 63.72% 42.16%;

  --sidebar-background: 217 33% 17%;
  --sidebar-foreground: 240 100% 90.78%;
  --sidebar-primary: 262 51.87% 47.25%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 240 24.49% 38.43%;
  --sidebar-accent-foreground: 0 0% 87.84%;
  --sidebar-border: 240 24.49% 38.43%;
  --sidebar-ring: 291 63.72% 42.16%;

  --radius: 0.75rem;  
}

* {
  box-sizing: border-box;

}

html {
  font-size: 18px;
  line-height: 32px;

  background: rgb(0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: geist;
  font-size: 18px;
  line-height: 32px;

  margin: 0;
  color: rgb(1000, 1000, 1000);

  @media (max-width: 1024px) {
    font-size: 15px;
    line-height: 24px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  margin: 40px 0;
  font-size: 64px;
  line-height: 70px;
  font-weight: bold;

  @media (max-width: 1024px) {
    margin: 24px 0;
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: 768px) {
    font-size: 38px;
    line-height: 38px;
  }

  @media (max-width: 400px) {
    font-size: 32px;
    line-height: 32px;
  }
}

p {
  margin: 24px 0;

  @media (max-width: 1024px) {
    margin: calc(var(--base) * 0.75) 0;
  }
}

a {
  color: currentColor;

  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.7;
    outline: none;
  }
}

svg {
  vertical-align: middle;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 45px;
  max-width: 1024px;
  margin: 0 auto;
  overflow: hidden;

  @media (max-width: 400px) {
    padding: 24px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;

    h1 {
      text-align: center;
    }
  }

  .links {
    display: flex;
    align-items: center;
    gap: 12px;

    a {
      text-decoration: none;
      padding: 0.25rem 0.5rem;
      border-radius: 4px;
    }

    .admin {
      color: rgb(0, 0, 0);
      background: rgb(1000, 1000, 1000);
      border: 1px solid rgb(0, 0, 0);
    }

    .docs {
      color: rgb(1000, 1000, 1000);
      background: rgb(0, 0, 0);
      border: 1px solid rgb(1000, 1000, 1000);
    }
  }

  .footer {
    display: flex;
    align-items: center;
    gap: 8px;

    @media (max-width: 1024px) {
      flex-direction: column;
      gap: 6px;
    }

    p {
      margin: 0;
    }

    .codeLink {
      text-decoration: none;
      padding: 0 0.5rem;
      background: rgb(60, 60, 60);
      border-radius: 4px;
    }
  }
}
